p{
    color: rgb(24, 24, 93);
}
body{
   color:aliceblue;
    /* background-image: url(zaszlo.jpg);
    background-size: cover;
    background-position:top; */


}

h1{
    color: rgb(255,0,0);
    text-align: center;
}

#okori{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    font-style: italic;
    text-align: justify;    /*dőlt betűs*/
    margin: 20px 100px 20px 100px;       /*fölső, jobb, alsó, bal*/
    /* font-variant: small-caps;           kiskapitális */
    line-height: 150%;           /*sorok magassága*/
    /* text-transform: capitalize; minden szó első betűje nagybetűs*/
    /* text-transform: lowercase;  minden kisbetűvel */
    text-transform: uppercase;  /*csupa nagybetűs*/

}

#NOB{
    text-decoration:underline;
}